#change {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 1fr 1fr 1fr; */
    grid-gap: 10px;
    margin-top: 20px;
}

#cash-in-drawer {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-top: 20px;
}

.cid-details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    width: 50%;
}